
*{
    margin: 0;
    padding: 0;

}


 /* nabvar  */
#navbar {
  height: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 1000;
}

#navbar .nav-link {
  color: white;
  font-weight: 500;
  font-size: 18px;
}

/* slider */
.carousel-item img {
  width: 100%;
  height: 100vh !important;
  object-fit: cover;
}

body, html {
  margin: 0;
  padding: 0;
}

.carousel-item h1{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0px;
  text-align: center;
  font-size: 70px;
  margin-bottom: 40px;
  color: #ECB176; 
}

/* form */

.navbar-form input{
      font-size: 15px;
      font-family: "Noto Sans", sans-serif;
    }

 .form-control {
      background-color: #ECB176 !important;
      border-radius: 10px !important;
      border-color: #6F4E37 !important;

    }

 .btn {
      font-family: "Noto Sans", sans-serif;
      font-size: 15px;
      color: #6F4E37 !important;
      background-color: #ECB176 !important;
      border-color: #6F4E37 !important;
      
    }

.btn-outline-success:hover {
      background-color: #6F4E37 !important;
      color: #ECB176 !important;
  font-family: "Dancing Script", cursive;
      border-color: #ECB176 !important;
    } 

    
.form-control:hover {
      background-color: #6F4E37 !important;
      color: #ECB176 !important;
      font-family: "Dancing Script", cursive;
      border-color: #ECB176 !important;
    } 

    img{
        width: 200px;
         height: 150px;
         margin-left: 2px;
    }

 /* about us */

 #about-us h1{
  text-align: center;
  font-family: "Dancing Script", cursive;
  color: #6F4E37;
  font-size: 40px;
  font-weight: 600;
 }

.about-img {
  width: 100%;
  margin-left: 10px;
  box-shadow: 0 -6px 6px #6F4E37;
}

.about-text {
  font-size: 1rem;
  line-height: 1.6;
  color: #6F4E37;
  font-family: "Noto Sans", sans-serif;
  margin-left: 50px;


}

.about-btn {
  color: #ECB176 !important;
  background-color: #6F4E37 !important;
  border: none !important;
  margin-top: 20px;
   display: block !important;
  margin: 20px auto;
  box-shadow: 0 -6px 6px #ECB176;

}

.about-btn:hover {
  background-color: #ECB176 !important;
  color: #6F4E37 !important;
    font-family: "Dancing Script", cursive;
  text-align: center;
}

/* cards */

#top-categories h1 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  color: #6F4E37;
  font-size: 40px;
  font-weight: 600;
}
.card {
  border: none;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  width: 500px;
  height: 300px;
  object-fit: fill;
}
.card-title {
text-align: center;
  font-family: "Dancing Script", cursive;
  color: #6F4E37;
  font-size: 30px;
  font-weight: 600;
 }

 

 /* menu */
#manu{

  color: rgb(235, 201, 14); 
margin-left: 20px;
}

 .btn-primary{
 color: #ECB176 !important;
  background-color: #6F4E37 !important;
  border: none !important;
  margin-top: 20px;
   display: block !important;
  margin: 20px auto;
  box-shadow: 0 -6px 6px #ECB176;
 }

.btn-primary:hover {
  background-color: #5a2a00; 
  color: #fff;
  border-color: #5a2a00;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.star i{
  color: rgb(235, 201, 14); 
  margin-left: 20px;
 font-size: 20px;
}
 


/* form */

.contact-us{
    
  width: 30%;
    height: 300px;
    border: 30px solid #A67B5B;
    margin-top: 14rem;
    margin-bottom: 14rem;
    background-color: #6F4E37;
}

.contact-us h1{
font-size: 32px;
      font-family: "Noto Sans", sans-serif;
margin-top: 2rem;
text-align: center;
color: #000;
}

.contact-us input{
width: 95%;
height: 30px;
/* margin-bottom: 30px; */
margin-top: 20px;
background-color: #ECB176;
color: rgb(3, 3, 3);
font-family: "Noto Sans", sans-serif;
font-size: 14px;
outline: none;
border: none;
}


p{
    color: #302c2c;
    font-size: 10px;
}


.contact-us button{
  
 color: #ECB176 !important;
  background-color: #6F4E37 !important;
  border: none !important;
  margin-bottom: 10px;
   display: block !important;
  margin: 20px auto;
  box-shadow: 0 6px 6px #ECB176;
}

.contact-us button:hover {
  background-color: #ECB176;
  color: #6F4E37;
    
}

.info {
    width: 30%;
    height: 300px;
    border: 30px solid #A67B5B;
    margin-top: 14rem;
    margin-bottom: 14rem;
    background-color: #6F4E37;

}

.info h1 {
    font-size: 32px;
  font-family: "Noto Sans", sans-serif;
    margin-top: 2rem;
    text-align: center;
    color: #000;

}

.info p{
  font-family: "Noto Sans", sans-serif;
    text-align: left;
    font-size: 20px;
    color: #fcfaf9;
    margin-left: 10px;
    margin-top: 10px;
        font-family: "Dancing Script", cursive;
}

.info input {
    width: 95%;
    height: 40px;
    background-color: #edf57d;
    color: rgb(3, 3, 3);
  font-family: "Noto Sans", sans-serif;
    font-size: 14px;
    outline: none;
    border: none;
}

.info button {
    width: 80%;
    height: 50px;
    background-color: #6F4E37;
    color: rgb(12, 12, 12); 
    cursor: pointer;
    transition: 0.7s ease-in-out;
}

.info button:hover {
    background-color: #6F4E37;
    color: rgb(241, 243, 239);
} 



/* footer */
.main-footer {
  background-color: #6F4E37; 
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  width: 100%;

}

.footer-logo img {
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.social-icons a{
  background-color: #000;
  color: #fff;
  font-size: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

.social-icons a:hover {
  background-color: #fff;
  color: #000;
}

.copyright {
  color: #ECB176;
  font-size: 14px;
  margin-top: 1rem;
}
